.cardContainer {
    margin: 150px 15px;
    width: 200px;
    border: 1px solid #828282;
    border-radius: 5px;
    padding: 30px;
    /* height: 250px; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* margin: 0 25px; */
    
}

.cardIcon {
    width: 30px;
    height: 30px;
    background-color: black;
    padding: 15px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 10px solid #c1c0c1;
    margin-bottom: 10px;
}

.countHeading {
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
    font-weight: 700;
}

.titleTxt {
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
}

.conatinerChngColor {
    background-color: #db4444;
    color: #fff;
    border: none;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.chngcolor {
    border: 10px solid #E67C7C;
    background-color: #fff;
}

.serviceCardContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 50px;
}

.serviceHeading{
    font-family: 'Poppins', sans-serif;
    font-size:20px;
    font-weight: 700;
}

@media (max-width: 500px) {
    .serviceCardContainer{
        margin: 30px 0;
    }
}